
@font-face {
	font-family: "Nexa Bold";
	src: url('../fonts/NexaBold.otf');
}

@font-face {
	font-family: "Nexa Light";
	src: url('../fonts/NexaLight.otf');
}

html, body {
	margin: 0;
	padding: 0;
	background: url('../textures/cover1.png');
	font-family: "Nexa Light", "Arial", sans-serif, serif;
}

header {
	height: 50px;
	line-height: 50px;
	color: white;
	font-family: "Nexa Light", "Arial", sans-serif, serif;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.blue {
	color: #40bdf4 !important;
}

header .grid, header .row div {
	padding: 0;
	height: 50px;
}

.logo {
	font-family: "Nexa Bold";
	font-size: 1.5em;
	float: left;
	display: inline-block;
}

.nav {
	text-align: right;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	height: 50px;
}

.nav ul li {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: auto;
	margin: 0 0 0 6%;
}

.cover {
	height: 100vh;
	width: 100%;
}

#cov-1 {
	
}

.cov-blue {
	background-color: rgba(64, 189, 244, 0.5);
}

.welcome {
	font-family: "Nexa Bold";
	font-size: 2em;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	color: white;
	width: 30%;
	line-height: 1.5em;
	margin: 0 auto 0 auto;
	text-align: center;
	min-font-size: 1em;
}

.arrow-b {
	height: 70px;
	width: 70px;
	background: url('../images/arrow.png') no-repeat center center;
	background-size: cover;
	position: absolute;
	margin: 0 auto 0 auto;

	left: 50%;
	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
}

.arrow {
	height: 70px;
	width: 70px;
	background: url('../images/arrowwhite.png') no-repeat center center;
	background-size: cover;
	position: absolute;
	margin: 0 auto 0 auto;
	
	left: 50%;
	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
}

.arrow {
	height: 70px;
	width: 70px;
	background: url('../images/arrowwhite.png') no-repeat center center;
	background-size: cover;
	position: absolute;
	margin: 0 auto 0 auto;
	
	left: 50%;
	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
}

.arrowu {
	height: 70px;
	width: 70px;
	background: url('../images/arrow.png') no-repeat center center;
	background-size: cover;
	position: absolute;
	margin: 0 auto 0 auto;
	
	left: 50%;
	-webkit-transform: translateX(-50%) rotate(180deg);
  	-ms-transform: translateX(-50%) rotate(180deg);
  	transform: translateX(-50%) rotate(180deg);
}

#cov-1 .arrow-b {
	top: 85vh;
}

#cov-2 .arrow {
	top: 185vh;
}

#cov-3 .arrowu {
	top: 285vh;
}

a {
	color: inherit;
}

.workGrid {
	height: 50%;
	width: 50%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	margin: 0 auto 0 auto;
  	font-size: 0;
  	color: white;
}

.rowGrid {
	width: 100%;
	height: 50%;
	margin: 0 0 2px 0;
	overflow: hidden;
}

.work {
	height: 100%;
	width: calc(50% - 2px);
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	margin: 0 2px 0 0;
	padding: 0;
	text-align: center;
	position: relative;
	
}

.work span {
	font-size: 18px;
	padding: 0 15px;
	margin: 0 auto 0 auto;
	position: relative;
	display: inline-flex;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.workText {
	padding: 0;
	margin: 0;
}

.work:hover {
	background-color: rgba(64, 189, 244, 0.5);
	font-family: "Nexa Bold";
}

.contactBlock {
	height: auto;
	display: block;
	position: relative;
	width: 50%;
	margin: 0 auto;
	top: 50%;
	text-align: center;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	color: white;
  	font-size: 1.5em;

}

a:hover {
	text-decoration: none;
}

.bluebold {
	font-family: "Nexa Bold";
	color: rgba(64, 189, 244, 1);
}

@media screen and (max-width: 1023px) {
    .welcome {
    	font-size: 2em;
    	line-height: 1.2em;
    	width: 95%;
    	margin: 0 auto 0 auto;
    }

    .workGrid {
    	width: 90%;
    	height: 60%;
    }
}

@media screen and (max-width: 500px) {
    .nav {
    	display: none;
    }

    .logo {
    	left: 50%;
    	-webkit-transform: translateX(-50%);
  		-ms-transform: translateX(-50%);
  		transform: translateX(-50%);
  		position: relative;
    }

    .contactBlock {
    	font-size: 1.2em;
    	width: 66%;
    	text-align: left;
    }



}