
html, body {
  margin: 0;
  font-family: NexaLight;
  max-width: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

@font-face {
  font-family: NexaBold;
  src: url(NexaBold.otf);
}

@font-face {
  font-family: NexaLight;
  src: url(NexaLight.otf);
}

.nb {
  font-family: NexaBold;
}

.centerall {
<<<<<<< HEAD
  margin: 30vh auto 0 auto!important;
=======
  margin: 15vh auto 0 auto!important;
>>>>>>> master
  text-align: center!important;
}

.container {
  width: 100%;
  height: 100%;
}

.inner-container {
  width: 100%;
  margin: 0 auto 0 auto;
}

.welcome img {
  display: block;
  margin: 0 auto 20px auto;
}

.welcome a {
  text-decoration: none;
  color: white;
}

h3 {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "NexaLight";
}

#pc2 {
  margin: 75px auto 50px auto;
  height: 300px;
  width: 300px;
}

#about {
  background-image: url('images/bg2.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-repeat: none;
}

#design {
  background-image: url('images/bg3.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-repeat: none;  
}

.fork {
  position: fixed;
  top: 0;
  right: 0;
  height: 150px;
  width: 150px;
}

p {
<<<<<<< HEAD
  overflow: hidden!important;
=======
  overflow: visible!important;
>>>>>>> master
}

a {
  color: inherit;
  text-decoration: none;
}

#contact {
  background-image: url('images/bg4.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-repeat: none;
}

.margbp {
  margin-bottom: 80px!important;
}

#ar {
  margin: 25px auto 10px auto;
  height: 64px;
  width: 64px;
  display: block;
  position: relative;
  bottom: 0;
}

.section-1 {
  min-height: 100vh;
  height: auto;
  padding: 0 9% 0 9%;
  
  background-image: url("images/bg1.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}



.section-d {
  min-height: 100vh;
  height: auto;
  padding: 0 9% 0 9%;
  overflow: auto;
}

.header {
  position: relative;
  height: 60px;
  width: 100%;
  font-size: 18pt;
  padding: 1px 0 0 0;
  z-index: 2;
}

.header h1 {
  float: left;
}

.header h1 a {
  text-decoration: none;
}

h1 {
  font-family: NexaBold;
}

.blue {
  color: #40bdf4!important;
}

.white {
  color: #ffffff;
}

.nav {
  float: right;
  font-family: NexaLight;
  width: auto;
  color: white;
  line-height: 130px;
  font-size: 22pt;
  max-height: 130px;
}

.tgrid img {  
  max-height: 256px!important;
  max-width: 455px!important;
}

.tgrid {
  height: auto;
  margin: 15vh 0 0 0;
}

.tgrid .centertg {
  display: inline-block;
  margin: 0 auto 20px auto;
  float: none;
}

.right {
  float: right;
}

.left {
  float: left;
  margin: 0 50px 0 0;
}

.nav ul li:hover {
  font-family: NexaBold;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.about_text p {
  margin: 0 auto 0 auto;
}

.nav li {
  display: inline-block;
  width: 120px;
  margin: 0 25px 0 0;
}

.nav li.last {
  margin: 0;
}

.nav a {
  color: white!important;
  text-decoration: none!important;
}

.bold {
  font-family: NexaBold!important;
}

.welcome {
  position: relative;
  height: 70vh;
  width: auto;
  color: white;
  font-family: NexaBold;
  font-size: 46px;
  z-index: 1;
}

.welcome span {
  font-size: 72px;
  line-height: 75%;
  font-weight: bold;
  width: 100%;
}

.welcome p {
  text-align: center;
  position: normal;
}

.section-b {
  background-color: #40bdf4;
}

.about_text {
  max-width: 800px;
  width: auto;
<<<<<<< HEAD
  margin: 15vh auto 0 auto;
=======
  margin: 5vh auto 0 auto;
>>>>>>> master
  text-align: left;
  color: white;
  font-size: 30pt;
  overflow: auto;
  line-height: 1.5em;
}

.about_img {
  width: auto;
  margin: 15vh 0 0 0;
  float: left;
  text-align: left;
  color: white;
  font-size: 30pt;
  overflow: auto;
}

h1.marg_fix {
 margin: 0;
 color: white;
 font-size: 36pt;
 text-align: center;
 padding: 10vh 0 0 0;
}

.flickrframe {
  margin: 15vh auto 0 auto;
  display: block;
}

.contact_con {
  margin: 30vh auto 0 auto;
  width: auto;
  display: block;
}

.contact_con img {
  margin: 0 5vh 5vh 0;
}

.con_ine {
  display: block;
  margin: 0 auto 0 auto;
  width: 110vh;
}

#design h2 {
  margin: 30vh 0 0 0;
  text-align: center;
}

#design a {
  color: #40BDF4;
}

<<<<<<< HEAD
=======
.work_grid {
  height: 193px;
  width: 100%;
  margin: 25vh auto 25vh auto;
  direction: inline-block;
}

.inner_work_grid {
  width: auto;
  margin: 0 0 0 15%;
  display: inline-block;
}

.work_grid img {
  box-shadow: 5px 5px 5px #222;
}

.work_img {
  width: 341.5px!important;
  margin: 0 25px 0 0;
}

.dspn {
  display: none;
}


>>>>>>> master
@media only screen and (max-width : 1130px) {
  .nav ul {
    display: none!important;
  }

  .header h1 {
    float: none;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 32px 0 0 0;
  }

  .about_img img {
    margin: 0 auto 0 auto;
    height: 43px;
    width: 347.5px;
  }

  .about_img {
    margin: 10vh auto 0 auto !important;
    display: inline-block;
  }
  
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


  .section-1 {
    height: 124px!important;
  }

  .header h1 {
    font-size: 25pt;
  }

  .marg_fix {
    padding: 50px 0 0 0;
    margin: 0;
    color: white;
    font-size: 36pt;
    text-align: center;
  }

}

<<<<<<< HEAD
@media only screen and (min-device-width : 0px) and (max-device-width : 840px) {

  .welcome .imgtxt {
    width: 347.5px;
    height: 42px;
=======
@media only screen and (min-device-width : 0px) and (max-device-width : 751px) {

  .welcome .imgtxt {
    width: 264px;
    height: 32.6px;
  }

  .welcome .imgshrink
  {
    width: 264px!important;
    height: 264px!important;
  }

  .fork {
    display: none;
  }

  .section-1 {
    min-height: 640px!important;
  }  

  .section-d {
    min-height: 640px!important;
  }

  .welcome {
    height: 672px!important;
  }

  .centerall {
    margin-top: 144px!important;
  }

  .about_text {
    font-size: 20pt;
  }

  .about_txt {
    margin-top: 40px!important;
  }

  .about_img {
    margin-top: 144px!important;
  }

  h1.marg_fix {
    padding-top: 40px!important;
  }

  #contact .about_text {
    margin: -26px 0 0 0;
  }

  .nb {
    font-size: 18pt;
  }

  .work_grid {
    margin: 0 auto 0 auto;
    height: 406px;
    width: 341px;
  }

  .work_grid img {
    margin: 20px 0 0 -28px!important;
  }

  .dspn {
    display: block;
  }

  .right {
    float: left;
    margin: 20px 20px 0 0 !important;
>>>>>>> master
  }

}